# Port settings
PORT=6001
METRICS_PORT=6002

# Environment
NODE_ENV=development

# Database configuration (PostgreSQL)
# Replace with your local or hosted PostgreSQL connection string
DATABASE_URL="postgresql://user:password@localhost:5432/content_aggregator?schema=public"

# Logging configuration
LOG_LEVEL=info

# API External URLs
HN_ITEM_BASE_URL=https://hacker-news.firebaseio.com/v0/item
REDDIT_BASE_URL=https://reddit.com
